{% extends 'gravitacionais/base.html' %}
{% block title %}.:: Kanban - Gravitacionais ::.{% endblock %}
{% block breadcrumb %}
<li class='breadcrumb-item active'>Gravitacionais</li>
{% endblock %}
{% block content %}
<div class='mb-4'>
  <a href='{% url "gravitacionais:novo_gravitacional" %}'
     class='btn btn-primary'>
    Novo gravitacional
  </a>
  <a href='{% url "pecas:index" %}' class='btn btn-primary'>
    Peças
  </a>
  
</div>
      {% if gravitacionais.count > 0 %}
      <table class='table'>
	<thead class='thead-inverse'>
	<tr>
	  <th>Código</th>
	  <th>Descrição</th>
	  <th>Data cadastro</th>
	  <th>Linha</th>
	  <th>Posto</th>
	  <th>Galpão</th>
	  <th>Peças</th>
	</tr>
	</thead>
	{% for gravitacional in gravitacionais %}
	<tbody>
	<tr>
	  <td>{{ gravitacional.codigo }}</td>
	  <td>{{ gravitacional.descricao }}</td>
	  <td>{{ gravitacional.data_cadastro }}</td>
	  <td>{{ gravitacional.linha }}</td>
	  <td>{{ gravitacional.posto }}</td>
	  <td>{{ gravitacional.galpao }}</td>
	  {% if gravitacional.get_pecas_gravitacional > 0 %}
	    <td class='align-middle'>
	      <a href='{% url "gravitacionais:gerir_gravitacional" gravitacional.id  %}'>{{ gravitacional.get_pecas_gravitacional }}</a>
	    </td>
	  {% else %}
	    <td class='align-middle'>0</td>
	  {% endif %}
	</tr>
	</tbody>
	{% endfor %}
      </table>
      {% else %}
      <p>Sem gravitacionais para listagem</p>
      {% endif %}
{% endblock %}
