{% extends 'pecas/base.html' %}
{% block title %}
.:: Kanban - {{ peca.nome_peca }} ::.
{% endblock %}
{% block breadcrumb %}
<li class='breadcrumb-item'>
  <a href='{% url "pecas:index" %}'>Peças</a>
</li>
<li class='breadcrumb-item active'>{{ peca_aplicacao.nome_peca }}</li>
{% endblock %}
{% block content %}
<table class='table'>
  <thead class='thead-inverse'>
    <tr>
      <th>Código peça</th>
      <th>Nome peça</th>
      <th>Descrição</th>
      <th>Embalagem</th>
      <th>Data cadastro</th>
      <th>Gravitacional</th>
      <th>Linha</th>
      <th>Posto</th>
      <th>Galpão</th>
    </tr>
  </thead>
  <tbody>
{% for aplicacao in aplicacoes %}    
    <tr>
      <td>{{ aplicacao.peca_aplicacao.codigo_peca }}</td>
      <td>{{ aplicacao.peca_aplicacao.nome_peca }}</td>
      <td>{{ aplicacao.descricao }}</td>
      <td>{{ aplicacao.embalagem }}</td>
      <td>{{ aplicacao.data_cadastro }}</td>
      <td>{{ aplicacao.gravitacional_aplicacao.codigo }}</td>
      <td>{{ aplicacao.gravitacional_aplicacao.linha }}</td>
      <td>{{ aplicacao.gravitacional_aplicacao.posto }}</td>
      <td>{{ aplicacao.gravitacional_aplicacao.galpao }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
